<% provide(:title, "Homepage") %>
<div class="container">
  <div class="col-md-8">
    <ol class = "breadcrumb">
      <li><%= link_to "Home", root_path %></li>
        </ol>
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          <b>Category</b>
        </h3>
      </div>
    <% @category.each do |category| %>
      <div class = "panel-body">
          <h3 class = "panel-title">
            <div class="col-md-12"><b><%= link_to category.name, category%></b></div>
          </h3>
          <div class="col-md-8">

            <%= category.description %>
          </div>
          <div class="col-md-4"><%=  pluralize(category.topics.count, "topic") %></div>
        </div>
        <hr>
    <% end %>
    </div>

    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          <b>Lastest topic</b>
        </h3>
      </div>
      </div>
      <% @latest_topic.each do |topic| %>

            <% author = User.find_by_id(topic.user_id)%>
            <% category = Category.find_by_id(topic.user_id) %>
            <div class = "panel panel-default">
              <div class = "panel-body">
                <div class="col-md-2">
                  <div class="round-image-50"><%= image_tag(author.information.avatar.url(:thumb)) %></div>
                </div>
                <div class="col-md-8"><b><%= link_to topic.title, topic%></b></div>
                <div class="col-md-2">Posted by: <%= link_to author.name, author %></div>
                <div class="col-md-12"><hr></div>
                <div class="col-md-4">Category: <%= link_to category.name,category %>  </div>
                <div class="col-md-6"><i>Updated at: <%= topic.updated_at %></i></div>
                <div class="col-md-2"><i><%=  pluralize(topic.comments.count, "comment") %></i></div>
              </div>
            </div>


      <% end %>

  </div>
</div>